.emailbody {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 0px 10px;
  height: 40px;
  color: #202124;
  background: #f2f6fc;
}
.emailbody:hover {
  /* box-shadow: 2px 2px 5px whitesmoke; */
  cursor: pointer;
  background-color: #c2dbff;
}
.emailbody__left {
  display: flex;
  align-items: center;
  min-width: 150px;
  flex: 20%;
}
.emailbody .emailbody__left svg {
  font-size: 18px;
  color: gray;
  margin-right: 15px;
}
.emailbody .emailbody__left h4 {
  font-size: 12px;
}
.emailbody__middle {
  display: flex;
  align-items: center;
  flex: 90%;
}
.emailbody__middle .emailbody__middle__message {
  display: flex;
  align-items: center;
  width: 100%;
}
.emailbody .emailbody__middle p {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 20px;
  max-width: 650px;
}
.emailbody .emailbody__middle p b {
  margin-right: 5px;
  font-size: 15px;
}
.emailbody__right {
  /* display: flex; */
  align-items: center;
  flex: 10%;
  justify-content: flex-end;
}
.delete {
  display: none;
}
.emailbody:hover .delete {
  display: block;
}

.emailbody .emailbody__right p {
  font-size: 14px;
}

.notemailbody {
  display: block;
  height: 150px;
}

.emailbody:hover .time {
  display: none;
}
