.signIn {
  /* display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center; */
}
.image {
  position: relative;
  z-index: -1;
  top: -27rem;
  display: flex;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
  position: relative;
  top: 8rem;
}
